<div id="wrapper">
    <div id="header">
        <h1>GS KART</h1>

    </div>
    <div id="main">

        <mat-card class="example-card">
            <mat-card-header>
                <span>Login</span>
            </mat-card-header>
            <mat-icon id="login_icon">account_circle</mat-icon>
            <mat-card-content>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <mat-icon class="icon_1">account_circle</mat-icon>
                    <input matInput placeholder="Name">
                </mat-form-field>
               
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <mat-icon class="icon_2">lock</mat-icon>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <p>Forgot Password</p>
            </mat-card-content>
            <button mat-button class="action_login" mat-raised-button color="primary"
                routerLink="/home">Login</button>
            <!-- <p class="new_account" (click)="new_account()">Create new Account</p> -->

        </mat-card>


    </div>
    <div id="footer">
        <span>Developed By Green Soft</span>
        <span>Version 1.0</span>
    </div>
</div>